[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr_FR]=wmnut
Name[fr_FR]=WMNut
Exec=wmnut -w
Name=WMNut
Icon=wmnut
Comment=Monitor multiple UPSs statistics through the Network UPS Tools framework.
