Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/configure~
/depcomp
/install-sh
/missing
Makefile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
stamp-h1
*.tar.gz
*.tar.gz.sig
*.tar.gz.md5
*.tar.gz.sha256
